* {
    box-sizing: border-box;
}

html {
    height: 100%;
    background-color: white;
}

#info {
    position: relative;
    max-width: 100%;
    height: 800px;
    z-index: 3;
}

#edu1 {
    position: relative;
    max-width: 100%;
    height: 800px;
}

#as1 {
    position: relative;
    max-width: 100%;
    height: 800px;
}

nav {
    position: absolute;
    right: 10px;
    background-color: white;
    margin-top: 5px;
    z-index: 4;
}

    nav ul li {
        display: solid;
        background-color: #d6d5d2;
        text-align: center;
        border: 1px solid #d6d5d2;
        border-radius: 25px 0 25px 0;
        margin: 2px;
    }

.menu {
    position: fixed;
    top: 20%;
    left: 0;
    padding: 0;
    z-index: 4;
}

#box {
    visibility: hidden;
    margin: 0;
}

ul, li {
    list-style-type: none;
    margin: 0;
    padding-left: 1px;
}

label {
    float: left;
    display: block;
    position: relative;
    transform: rotate(90deg);
    color: white;
    padding: 3px 10px;
    font-size: 150%;
    cursor: pointer;
    background-color: #d6d5d2;
    border-radius: 15px;
    left: -15%;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

#box:checked ~ label {
    transform: rotate(0deg);
    left: 1em;
    bottom: 1.5em;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

label:hover,
#box:checked {
    opacity: .5;
}

    #box:checked ~ ul {
        visibility: visible;
        -webkit-transition: all .5s .3s;
        -o-transition: all .5s .3s;
        transition: all .5s .3s;
    }

.menu li ul {
    position: relative;
    cursor: pointer;
    width: 200px;
    background-color: #d6d5d2;
    visibility: hidden;
    opacity: .7;
}

li a {
    text-decoration: none;
    display: block;
    color: black;
    padding: 1em;
}

.selector {
    border-right: 4px solid #2F4F4F;
    height: 5em;
}

    .selector ul {
        position: absolute;
        cursor: pointer;
        display: block;
        left: 102%;
        top: -70%;
        width: 100px;
        visibility: hidden;
    }

    .selector:hover ul {
        visibility: visible;
        -webkit-transition: all .5s;
        -o-transition: all .5s;
        transition: all .5s;
    }

    .sub:hover, .selector:hover {
        background-color: #2F4F4F;
    }

.banner-txt {
    position: relative;
    text-align: center;
    top: 100px;
    color: #2F4F4F;
    display: block;
}

.raven {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    min-width: 200px;
    position: relative;
    top: 150px;
}

    .raven: {
        transition: ease .5s;
    }

#intro {
    opacity: .75;
    transition: ease-in-out 1s;
    background-color: none;
    color: Black;
    width: 80%;
    min-height: 20%;
    position: absolute;
    bottom: 10%;
    left: 10%;
    padding-left: 5px;
}

p {
    color: black;
    font-size: 150%;
    margin-left: 1em;
    margin-top: .25em;
    margin-bottom: .25em;
    padding: 10px;
}

.grim img {
    width: 50%;
    clear: float;
}

#ed {
    min-height: 50%;
    width: 40%;
    min-width: 170px;
    color: black;
    opacity: .75;
    float: right;
    margin-top: 10%;
    margin-right: 5%;
}

.billboards {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    margin: auto;
    z-index: 2
}

.top {
    margin-top: 50px;
    padding: 0;
    display: inline-block;
    width: 30%;
    min-width: 100px;
    text-align: center;
}

    .top ul {
        border-top: 5px solid #d6d5d2;
        border-radius: 1em;
        border-bottom: 5px solid #d6d5d2;
        padding: 0;
    }

    .top a {
        color: #2F4F4F;
        font-size: 2em;
        padding: 1px;
    }

.subz {
    padding: 0px;
    background-color: #2F4F4F;
    opacity: .8;
    border-top: 2px solid #808080;
    width: 90%;
    min-width: 70px;
    margin: auto;
}

    .subz a {
        color: #778899;
        font-size: 1.5em;
        padding: 10px;
    }

.ghost {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    bottom: 0;
    left: 50%;
    width: 50%;
}

    .ghost img {
        width: 75%;
    }

.footer {
    position: absolute;
    bottom: 0;
    left: 50%;
    text-align: center;
    font-style: italic;
    font-size: .75em;
    padding: 10px;
    color: #2F4F4F;
}

.return {
    position: fixed;
    right: 0;
    bottom: 0;
    height: 210;
    width: auto;
    z-index: 2;
}

    .return img {
        width: 200px;
        height: auto;
        margin: 5px;
        opacity: .7;
    }

@media screen and (max-width: 800px) {
    .top a {
        font-size: 1em;
    }

    p {
        color: white;
        font-size: 100%;
        margin: .25px 1em;
    }

    h2 {
        margin: .25px 1em;
    }
}

@media screen and (max-width: 530px) {
    .menu {
        display: none;
    }

    li a {
        padding: 5px;
    }

    .grim {
        display: none;
    }

    #ed {
        width: 90%;
    }

    .return img {
        height: 100px;
        width: auto;
    }

    .billboards {
        width: 95%;
    }

    .top {
        margin: 5px auto;
        width: 90%;
        background-color: #4A0E50;
        opacity: .8;
        border-radius: .5em;
        font-size: 2em;
    }

    .hide {
        display: none;
        width: 100%;
    }

    .show {
        display: inline-block;
    }
}
